.list-container{
  width: 100%;
  height: calc(100% - 96px);
  background: #f3f3f3;
  padding:16px;

}
.form{
  display: flex;
  overflow-y: auto; /* Ensure vertical scrolling if needed */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  height: calc(100% - 100px); /* Adjust height to accommodate layout changes */
  overflow: auto;
  justify-content: space-between; /* Distribute space between items */
}
.list-content{
  height: 100%;
  width: 100%;
  color: black;
  padding: 16px;
  background: white;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.divider{
  border-top: 1px solid #f3f3f3;
  margin: 16px 0;
}
.required{
  color: red;
}
.form-item{
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start; /* Align items to the start */
  width: calc(50% - 10px); /* Two items per row with some margin */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding-right: 10px; /* Adjust padding for better spacing */
  font-size: 12px;
  align-items: center;
  justify-content: flex-start; /* Ensure items are aligned to the start */
}
.form-item-label{
  width: 150px;
}
.form-operator{
  display: flex;
  justify-content: center;
}
.form-item-input{
  margin: 0;
  width: 300px;
  margin-right: 20px;
  padding: 4px 11px;
  color: #555;
  font-size: 12px;
  line-height: 1.5715;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-item-radio-group{
  margin: 0;
  width: 300px;
  margin-right: 20px;
  padding: 4px 11px;
  color: #555;
  font-size: 12px;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
.form-item-radio-group span{
  color: #555;
}
.form-item-checkbox-group{
  margin: 0;
  width: 300px;
  margin-right: 20px;
  padding: 4px 11px;
  color: #555;
  font-size: 12px;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
.form-item-checkbox-label{
  margin-left: 4px;
}
.form-item-checkbox{
  display: flex;
  align-items: center;
}
.form-item-textarea{
  margin: 0;
  width: 300px;
  margin-right: 20px;
  height: 100px;
  padding: 4px 11px;
  color: #555;
  font-size: 12px;
  line-height: 1.5715;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.abc-abc{
  display: flex;
  align-items: center;
}